@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
* {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}

.menu {
  margin: 0px auto;
  background: #000000;
}
.menu a {
  width: 141px;
  height: 45px;
  line-height: 40px;
  display: block;
  margin: 2px;
  text-align: center;
  float: left;
  opacity: 0.9;
}


.on { background: #B8B63E;border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
.off { background: #525252;border-top-left-radius: 3px;
    border-top-right-radius: 3px; }